body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scrollable-text {
    width: 95%;
    height: 150px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.molstar-container-class {
    width: 150px;
    height: 600px;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 1.2em;
}